body {
    background: linear-gradient(to right, #cf7759, #7052dd);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.task-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.task-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.task-input button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    align-items: center;
    padding: 5px 0  ;
    border-radius: 5px;
}

.task input {
    margin-right: 10px;
}

.task span.completed {
    text-decoration: line-through;
    color: #ccc;
}